#configs
local_config.py
local_settings.py
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv

# cred
credentials.json
bank_list.txt
bank_list_test.txt