#configs
local_config.py
local_settings.py
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv

# cred
credentials.json
bank_list.txt
bank_list_test.txt

lstm_autoencoder_exp3/
lstm_autoencoder_exp4/
lstm_autoencoder_exp11/
lstm_autoencoder_exp12/
lstm_autoencoder_exp13/
lstm_autoencoder_exp14/
model_results/
autoencoder_exp15/
lstm_autoencoder_exp1/

